@import url("https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.nav-link {
  position: relative;
  margin: 0 2px;
  font-weight: 600;
  font-family: "Saira", sans-serif;
  cursor: pointer;
  width: fit-content;
  display: lg;
  position: after;
  content: "";
  position: absolute;
  height: 3px;
  background-color: #496a7a;
  width: 100%;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 300ms;
  transform-origin: center;
  display: none;
}

.nav-link-mobile {
  position: relative;
  margin-bottom: 2rem;
  font-weight: 600;
  font-family: "Saira", sans-serif;
  cursor: pointer;
  color: white;
  font-size: 27px;
  width: fit-content;
  display: lg;
  position: after;
  content: "";
  position: absolute;
  height: 3px;
  background-color: #496a7a;
  width: 100%;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 300ms;
  transform-origin: center;
}
